body{
    background-image: url(../ibimages/gateway.jpg);
    color: white;
}
.part{
    display: inline;
}
.left{
    padding-left: 7%;
}
.right{
    padding-left: 10%;
    display: inline;
    float:right;
    margin-top: -1%;
}
.bio{
    float: right;
    padding: 14px 20px;
    margin-top: -4%;
}
.bio a{
    text-decoration: none;
    color: white;
    padding: 15px 20px;
}
.gg1{
    text-align: center;
    font-size: 70px;
}
h2{
    text-align: center;
    color: orange;
    margin-top: -3%;
}
.rr{
    border: 2px solid orange;
}
.coat{
    background-color: orange;
    border: none;
    padding: 15px 19px;
    font-size: 20px;
    color: white;
    border-radius: 7px;
    position: relative;
    cursor: pointer;
    left: 43%;
}
.coat:hover{
    background-color: orangered;
}
.coat2{
    background-color: white;
    display: block;
    height: 500px;
    margin-top: 10%;
    padding: 10px;
    margin-left: 7%;
    color: black;
}
.line1{
    border-bottom: 2px solid orange;
    padding-bottom: 12px;
}
.coat3{
    background-color:gray ;
    padding: 15px 19px;
    font-size: 20px;
    color: white;
    border-radius: 7px;
    position: relative;
    cursor: pointer;  
}
.coat3:hover{
    border: 4px solid orangered;
}
.coat4{
    background-color: white;
    margin-top: 5%;
    width: 105%;
    height: 450px;
    color: black;
}
 .tt{
    margin-top: -20%;
    margin-left: 50%;
}
.gg3{
    margin-left: 49%;
    display: flex;
    width: 60%;
    padding: 19px 23px;
}
.text1{
    margin-left: 53%;
    color: black;
    font-size: 20px;
    margin-top:  -16%;
}
.text2{
    margin-left: 53%;
    color: black;
    font-size: 15px;
}
.text3{
    margin-left: 78%;
    color: black;
    font-size: 15px;
    margin-top: -98px;
}
.coat5{
    background-image: url(../ibimages/oo.jpg);
    height: 800px;
    background-size: cover;
}
.gg4{
    background-color: white;
    height: 500px;
    margin-top: -50%;
    padding: 60px 100px;
    padding-left: 30px;
    margin-left: 100px;
    width: 76%;
    color: black;
}
.line2R{
    border-bottom: 2px solid orange;
    font-size: 30px;
    padding-bottom: 30px;
}
.line2{
    font-size: 30px;
}
.gg6{
    color: black;
}
.social2 i{
    position: relative;
    display: inline-block;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 4px;
    padding: 10px 15px;
    left: 750px;
    bottom: 300px;
    color: black;
}
.fa{
    display: flex;
}
.fa:hover{
    color: orange;
}
.coat6{
    position: relative;
    margin-top: -29%;
    left: 500px;
}
.ee{
    position: relative;
    height: 32px;
    width: 400px;
    border-radius: 3px;
    left: 90px;
}
.ee1{
    
    position: relative;
    height: 32px;
    width: 400px;
    border-radius: 3px;
    left: 90px;
}
.ee2{
    
    position: relative;
    height: 32px;
    width: 400px;
    border-radius: 3px;
    left: 90px;
}
.send{
    margin-left: 820px;
    margin-bottom: -70px;
    background-color: orange;
    border: none;
    padding: 15px 59px;
    font-size: 10px;
    color: white;
    border-radius: 7px;
    position: relative;
    cursor: pointer;
}
.send:hover{
    background-color: orangered;
}
